<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="/view/Home.css">
    <meta charset="utf-8">
    <title>Event alert</title>
    <header class="main-navigation">
        <div class="main-navigation_logo">
            <h1>EasyEvent</h1>
        </div>
        <nav class="main-navigation_item">
            <ul>
                <li>
                    <a href="/view/login.html">Events</a>
                </li>
                <li>
                    Bookings
                </li>
                <li>
                    <a href="/logout">logout</a>
                </li>
            </ul>
    </header>
</head>
<body>

</body>
</html>