<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Login Form</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <link rel="stylesheet" href="Singup.css">
    </head>
    <body>
        <div class="back">
            <button><a href="/view/Login.html">Back</a></button>
        </div>
        <div class="center">
            <h1>SingUp</h1>
            <form action="/register" method="post">
                <div class="txt_field">
                    <input type="text" name="Username" id="Username" required>
                    <span></span> 
                    <label>Username</label>
                </div>
                <div class="txt_field">
                    <input type="text" name="Password" id="Password" required>
                    <span></span>
                    <label>Password</label>
                </div>
                <div class="txt_field">
                    <input type="text" name="Faculty" id="Faculty" required>
                    <span></span> 
                    <label>Faculty(คณะ)</label>
                </div>
                <div class="txt_field">
                    <input type="text" name="Email" id="Email" required>
                    <span></span>
                    <label>Email</label>
                </div>
                <div class="form-floating">
                    <select class="form-select" name="Year"id="Year" aria-label="Floating label select example">
                      <option selected></option>
                      <option value="cdti63">Cdti 63</option>
                      <option value="cdti64">Cdti 64</option>
                      <option value="cdti65">Cdti 65</option>
                      <option value="Teacher">Teacher</option>
                    </select>
                    <label for="YearSelectDisabled" >Student or Teacher?</label>
                </div>
                <input type="submit" value="Register" >
            </form>
        </div>
    </body>
</html>